# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Version Control System (Go)/*
!/Version Control System (Go)/task/
/Version Control System (Go)/task/*
!/Version Control System (Go)/task/main.go
